name: My First Workflow

on: push 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get version
        id: get_version
        run: echo "version=1.2.3" >> $GITHUB_OUTPUT

      - name: Use version
        run: echo "Deploying version ${{ steps.get_version.outputs.version }}"
